.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.character-card {
  display: flex;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'YourFontName', cursive; /* Replace 'YourFontName' with the desired handwriting font */
}

.character-image {
  padding: 20px;
}

.character-image img {
  max-width: 100%;
}

.character-details {
  padding: 20px;
  text-align: right;
}

.character-details h2 {
  font-size: 24px;
  font-weight: bold;
}

.character-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.characterSheetSectionContentItem {
    margin-bottom: 5px;
}
