body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
}

nav {
  text-align: center;
}

.tabs {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.tabs li {
  background-color: #ff8888;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.tabs li:last-child {
  margin-right: 0;
}

.tabs li label {
  color: #fff;
  cursor: pointer;
}

.tabs li input[type="radio"] {
  display: none;
}

.tab-content {
  display: none;
  padding: 20px;
}

footer {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

.no-tab-selected {
  display: block;
  text-align: center;
  font-family: 'Lucida Calligraphy', 'Cursive', sans-serif;
  font-size: 24px;
  margin-top: 20px;
}

}
