body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tabs {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.tabs li {
  background-color: #ff8888;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.tabs li:last-child {
  margin-right: 0;
}

.tabs li label {
  color: #fff;
  cursor: pointer;
}

.tabs li input[type="radio"] {
  display: none;
}

.tab-content {
  display:

input[type="radio"]:checked ~ .tab-content {
  display: block;
}
